
@import url(http://fonts.googleapis.com/css?family=Maven+Pro&v2);
/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { font-family:'Maven Pro',Helvetica; color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/	

ol.normal {list-style-type: lower-alpha;}
article,li{text-shadow: 0 0;}
a.link:link, a.link:visited {color:#39BB00; text-decoration: underline }
a.link:hover {color:#39BB00; text-decoration: none }
b.normal{font-weight: bold;font-size:1.2em;}
.indent{margin-left:120px;}
.big{font-size:1.2em}
body{color: #000;font-size: 1.3em;margin:0;padding:0;}
body header{overflow:hidden;}
body header h1{ background-image: url("../images/header-mf.png");
    background-position: 0 -38px;
    background-repeat: no-repeat;
    height: 200px;
    margin: 0;
    text-indent: -3000px;
    width: 1000px; }
body header nav{margin: 0;padding: 0;top: 0;float:left;}
body header nav ul{  height: 160px;list-style: none outside none;margin: 0;overflow: hidden;padding: 0 0 0 5px;width: 100%;}
body header nav ul li{ box-shadow: 0 0 5px #000000;-moz-box-shadow: 0 0 5px #000000;-webkit-box-shadow: 0 0 5px #000000;-o-box-shadow: 0 0 5px #000000;background-color: #FFFFFF;border: 2px solid #6CBF02;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;float: left;padding: 20px;border-top:0;cursor:pointer;}
body header nav ul li.first{ padding-top: 80px;text-align: center;width: auto;}
body header nav ul li.second{margin-left: 10px;margin-right: 10px;text-align: center;padding-top: 80px;}
body header nav ul li.third{ padding-top: 80px;text-align: center;width: auto;}
body header nav ul li a{color:#6CBF02;text-decoration:none;font-weight:bold;}
body header nav ul li a:visited{color:#6CBF02;text-decoration:none;font-weight:bold;}
body header nav ul li:hover{border-top:0;border: 2px solid #fff;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.43, rgb(109,191,2)),color-stop(0.56, rgb(109,191,2)),color-stop(0.96, rgb(187,239,119)));background-image:-moz-linear-gradient(center bottom,rgb(109,191,2) 43%,rgb(109,191,2) 56%,rgb(187,239,119) 96%);color:#fff;}
body header nav ul li.selected{border-top:0;border: 2px solid #fff;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.43, rgb(109,191,2)),color-stop(0.56, rgb(109,191,2)),color-stop(0.96, rgb(187,239,119)));background-image: -moz-linear-gradient(center bottom,rgb(109,191,2) 43%,rgb(109,191,2) 56%,rgb(187,239,119) 96%);color:#fff;}
body header nav ul li:hover a{color:#fff;}
body header nav ul li.selected a{color:#fff;}
body section.fechas{border-radius: 15px 15px 15px 15px;-moz-border-radius: 15px 15px 15px 15px;-webkit-border-radius: 15px 15px 15px 15px;-o-border-radius: 15px 15px 15px 15px;background-color: #F9FFED;border: 1px solid #6CBF02;box-shadow: 0 0 2px #999999 inset;color: #758E5B;float: left; margin-top:0;margin-bottom:0;padding: 20px;width: 280px;}
body section.fechas ul{border-top: 1px dashed #999999;list-style: none outside none;margin: 0;padding: 0;}
body section.fechas ul li{margin-top: 10px;}
body section.fechas ul li span{color: #39BB00;font-family: monospace;font-size: 1.2em;font-weight: bold;margin-right: 20px;}
body section.fechas strong{color: #8BCD49;font-size: 1.1em;font-weight: bold;text-decoration: none;text-shadow: 0 0;}
body section.map{width:320px; height: 250px;float:left;margin-top:3px;border-radius: 15px 15px 15px 15px}
body section.presentacion{height:100%;  word-spacing: 0.5em; color: #2F8500;float: left;text-shadow: 0 0 43px #000000;width: 100%;background-color:#fff;filter: alpha(opacity=80); opacity: .8;border-radius: 15px 15px 15px 15px;}
body section.presentacion p{color: #628C02;line-height: 27px;padding-right: 22px;text-shadow: 0 0;width: 95%;background-color:#fff;}
body section.presentacion strong{  border-bottom: 1px dashed;color: #9BDB08;display: block;font-family: Helvetica;font-size: 2.4em;font-weight: normal;margin-top: 0px;padding-bottom: 12px;text-decoration: none;text-shadow: 0 0;}
body section.attendees{width:300px;height:190px;float:left;margin-top:0;margin-left:5px}

body section.form{background-color: #F9FFED;border: 1px solid #6CBF02;box-shadow: 0 0 2px #999999 inset;color: #758E5B;float: left; font-weight: normal;padding-left:20px;margin-left:200px;margin-top:10px;overflow: hidden;width: 40%;}
body section.form strong{border-bottom: 1px dashed #D2F16F;border-top: 1px dashed #D2F16F;float: left;font-family: verdana;font-size: 1.3em;font-weight: normal;margin: 0 auto;padding: 4px;text-decoration: none;text-shadow: 0 0 1px #000000;width: 100%;padding-left: 16px} 
label{color: #2F8500;
    display: block;
    font-size: 0.7em;
}

body section.form.button{float:left:}
input, textarea{width:100%;}
fieldset{float:left; width: 100%;border:none}
textarea{   border-bottom-right-radius: 68px;
    box-shadow: 0 0 9px #999999 inset;
    height: 154px;
    margin-top: 8px;}
input[type="text"]{
	box-shadow: 0 0 2px #999999;
  	width:95%;
    height: 20px;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right:6px;}
input[type="password"]{box-shadow: 0 0 2px #999999;
	width:95%;
    height: 20px;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right:6px;}
    
    
body div.content{background-image: url("../images/logo-reflex.jpg");background-position: -5px 3px;background-repeat: no-repeat;height: 800px;margin: 0 auto;width: 1024px;}
.info{margin-top:80px;float:right;}
img.logo_follow{width:50px;height:50px}
#twitts{width: 300px;float:right;}


body div #main{height:545px; overflow:auto;}



body footer{color:#fff;font-size:12px;float:left;margin-top:0px;background-color:#088a11;width:1024px;padding-left:5px;padding-top:2px;padding-bottom:0px;border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;-o-border-radius: 10px 10px 10px 10px;}

body footer p.middle{vertical-align:middle;}
body footer p.center{float:left;text-align:center;width:600px;}
body footer p.left{float:left;width:100px;}
body footer p.right{float:right;width:80px;text-align:right;}












.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}